In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import itertools as it
import matplotlib.pyplot as plt
from collections import Counter

In [2]:
data = pd.read_csv('movie_bd_v5.csv')
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1889 entries, 0 to 1888
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   imdb_id               1889 non-null   object
 1   budget                1889 non-null   int64
 2   revenue               1889 non-null   int64
 3   original_title        1889 non-null   object
 4   cast                  1889 non-null   object
 5   director              1889 non-null   object
 6   tagline               1889 non-null   object
 7   overview              1889 non-null   object
 8   runtime               1889 non-null   int64
 9   genres                1889 non-null   object
 10  production_companies  1889 non-null   object
 11  release_date          1889 non-null   object
 12  vote_average          1889 non-null   float64
 13  release_year          1889 non-null   int64
dtypes: float64(1), int64(4), object(9)
memory usage: 206.7+ KB

In [3]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [45]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...
def get_month(date):
    date = date.split("/")
    return int(date[0])


def get_str_len(title):
    return len(title)


def get_word_count(title):
    return len(title.split(" "))


# датасет с разбитыми актерами
data_exploded_per_cast = data.copy()
data_exploded_per_cast["exploded_cast"] = data_exploded_per_cast.cast.str.split("|")
data_exploded_per_cast = data_exploded_per_cast.explode("exploded_cast")

# датасет с разбитыми жанрами
data_exploded_per_genre = data.copy()
data_exploded_per_genre["exploded_genre"] = data_exploded_per_genre.genres.str.split(
    "|"
)
data_exploded_per_genre = data_exploded_per_genre.explode("exploded_genre")
data_exploded_per_genre["profit"] = (
    data_exploded_per_genre["revenue"] - data_exploded_per_genre["budget"]
)

# датасет с разбитыми кинокомпаниями
data_exploded_production = data.copy()
data_exploded_production[
    "exploded_production"
] = data_exploded_production.production_companies.str.split("|")
data_exploded_production = data_exploded_production.explode("exploded_production")
data_exploded_production["overview_words"] = data_exploded_production.overview.apply(
    get_word_count
)

# датасет базовый с подготовленными данными
data["profit"] = data["revenue"] - data["budget"]
data["release_month"] = data.release_date.apply(get_month)
data["title_len"] = data.original_title.apply(get_str_len)
data["overview_words"] = data.overview.apply(get_word_count)
data["exploded_cast"] = data.cast.str.split("|")

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [5]:
# в словарь вставляем номер вопроса и ваш ответ на него
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides'
# если ответили верно, можете добавить комментарий со значком "+"

In [6]:
# тут пишем ваш код для решения данного вопроса:
data[data.budget == data.budget.max()].original_title

723    Pirates of the Caribbean: On Stranger Tides
Name: original_title, dtype: object

ВАРИАНТ 2

In [7]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [8]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = 'Gods and Generals'

In [9]:
data[data.runtime == data.runtime.max()].original_title

1157    Gods and Generals
Name: original_title, dtype: object

# 3. Какой из фильмов самый короткий (в минутах)?

In [10]:
answers['3'] = 'Winnie the Pooh'

data[data.runtime == data.runtime.min()].original_title

768    Winnie the Pooh
Name: original_title, dtype: object

# 4. Какова средняя длительность фильмов?

In [43]:
answers['4'] = '110'

round(data.runtime.mean())

110

# 5. Каково медианное значение длительности фильмов?

In [12]:
answers['5'] = '107.0'

data.runtime.median()

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [13]:
answers['6'] = 'Avatar'

data[data.profit == data.profit.max()].original_title

239    Avatar
Name: original_title, dtype: object

# 7. Какой фильм самый убыточный?

In [14]:
answers['7'] = 'The Lone Ranger'

data[data.profit == data.profit.min()].original_title

1245    The Lone Ranger
Name: original_title, dtype: object

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [15]:
answers['8'] = '1478'

data[data.revenue > data.budget].imdb_id.count()

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [16]:
answers['9'] = 'The Dark Knight'

tmp = data[data.release_year == 2008]
tmp[tmp.revenue == tmp.revenue.max()].original_title

599    The Dark Knight
Name: original_title, dtype: object

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [17]:
answers['10'] = 'The Lone Ranger'

tmp = data[(data.release_year >= 2012) & (data.release_year <= 2014)]
tmp[tmp.profit == tmp.profit.min()].original_title

1245    The Lone Ranger
Name: original_title, dtype: object

# 11. Какого жанра фильмов больше всего?

In [47]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
answers['11'] = 'Drama'

genres_count = dict()

for genres in data.genres:
    genres_list = genres.split('|')
    for genre in genres_list:
        if genre not in genres_count:
            genres_count[genre] = 1
        else:
            genres_count[genre] += 1

sorted_values = sorted(genres_count.values(), reverse=True)
for genre, count in genres_count.items():
    if count == sorted_values[0]:
        print(genre)
        break

Drama

ВАРИАНТ 2

In [48]:
data_exploded_per_genre.groupby(["exploded_genre"]).imdb_id.count().sort_values(
    ascending=False
)

exploded_genre
Drama              782
Comedy             683
Thriller           596
Action             582
Adventure          415
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            222
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             19
Documentary          8
Foreign              2
Name: imdb_id, dtype: int64

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [49]:
answers['12'] = 'Drama'

#Вариант 1 - разбивка средствами Python
genres_with_profit = data[data.profit > 0].genres
genres_count = dict()

for genres in genres_with_profit:
    genres_list = genres.split('|')
    for genre in genres_list:
        if genre not in genres_count:
            genres_count[genre] = 1
        else:
            genres_count[genre] += 1
            
sorted_values = sorted(genres_count.values(), reverse=True)
for genre, count in genres_count.items():
    if count == sorted_values[0]:
        print(genre)
        break

Drama

In [50]:
# Вариант 2 - разбивка средствами Pandas
data_exploded_per_genre[data_exploded_per_genre.profit > 0].groupby(
    ["exploded_genre"]
).imdb_id.count().sort_values(ascending=False)

exploded_genre
Drama              560
Comedy             551
Thriller           446
Action             444
Adventure          337
Romance            242
Crime              231
Family             226
Science Fiction    195
Fantasy            188
Horror             150
Animation          120
Mystery            119
Music               47
History             46
War                 41
Western             12
Documentary          7
Name: imdb_id, dtype: int64

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [51]:
answers['13'] = 'Peter Jackson'

data.groupby(["director"]).revenue.sum().sort_values(ascending=False)

director
Peter Jackson        6490593685
Christopher Nolan    4167548502
David Yates          4154295625
Michael Bay          3886938960
J.J. Abrams          3579169916
                        ...
David MichÃ´d           2295423
Steven Shainberg        2281089
Paul Schrader           2062066
Keanu Reeves            2054941
Simon Hunter            2033165
Name: revenue, Length: 957, dtype: int64

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [52]:
answers['14'] = 'Robert Rodriguez'

data[data.genres.str.contains("Action")].groupby(
    ["director"]
).director.count().sort_values(ascending=False)

director
Michael Bay           7
Paul W.S. Anderson    7
Robert Rodriguez      6
Ridley Scott          6
Antoine Fuqua         6
                     ..
Les Mayfield          1
Kurt Wimmer           1
Kevin Smith           1
Kevin Macdonald       1
Adam McKay            1
Name: director, Length: 345, dtype: int64

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [24]:
answers['15'] = 'Chris Hemsworth'

tmp = data[data.release_year == 2012]
a = tmp[tmp.revenue == tmp.revenue.max()].cast.str.split("|")
list(a)

[['Robert Downey Jr.',
  'Chris Evans',
  'Mark Ruffalo',
  'Chris Hemsworth',
  'Scarlett Johansson']]

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [41]:
answers['16'] = 'Matt Damon'

#Вариант 1 - разбивка средствами Python
tmp = data[data.budget > data.budget.mean()]

actors_all = []
for i in tmp.cast:
    actors_list = i.split('|')
    for actor in actors_list:
        if actor not in actors_all:
            actors_all.append(actor)
            
films_per_actor = dict()

max_movie_count = 0
actor_name = ''
for actor in actors_all:
    movies_count = tmp[tmp.cast.str.contains(actor)].imdb_id.count()
    films_per_actor[actor] = movies_count
    if movies_count > max_movie_count:
        max_movie_count = movies_count
        actor_name = actor

actor_name

'Matt Damon'

In [53]:
# Вариант 2 - разбивка средствами Pandas
data_exploded_per_cast[
    data_exploded_per_cast.budget > data_exploded_per_cast.budget.mean()
].groupby(["exploded_cast"]).exploded_cast.count().sort_values(ascending=False)

exploded_cast
Matt Damon           18
Adam Sandler         17
Angelina Jolie       16
Eddie Murphy         15
Samuel L. Jackson    15
                     ..
Leslie Bibb           1
Leonard Nimoy         1
Lennie James          1
Lena Olin             1
50 Cent               1
Name: exploded_cast, Length: 1505, dtype: int64

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [27]:
answers['17'] = 'Action'

#Вариант 1 - разбивка средствами Python
genres = data[data.cast.str.contains('Nicolas Cage')].genres
genres_count = dict()
for genre in genres:
    genres_list = genre.split('|')
    for genre_unit in genres_list:
        if genre_unit not in genres_count:
            genres_count[genre_unit] = 1
        else:
            genres_count[genre_unit] += 1
            
genres_count

{'Thriller': 15,
 'Action': 17,
 'Science Fiction': 4,
 'Adventure': 7,
 'Drama': 12,
 'Mystery': 3,
 'Crime': 10,
 'Animation': 3,
 'Family': 3,
 'Fantasy': 8,
 'Comedy': 6,
 'History': 2,
 'War': 1,
 'Horror': 1,
 'Romance': 1}

In [54]:
# Вариант 2 - разбивка средствами Pandas
data_exploded_per_genre[
    data_exploded_per_genre.cast.str.contains("Nicolas Cage")
].groupby(["exploded_genre"]).exploded_genre.count().sort_values(ascending=False)

exploded_genre
Action             17
Thriller           15
Drama              12
Crime              10
Fantasy             8
Adventure           7
Comedy              6
Science Fiction     4
Mystery             3
Family              3
Animation           3
History             2
War                 1
Romance             1
Horror              1
Name: exploded_genre, dtype: int64

# 18. Самый убыточный фильм от Paramount Pictures

In [29]:
answers['18'] = 'K-19: The Widowmaker'

tmp = data[data.production_companies.str.contains("Paramount Pictures")]
tmp[tmp.profit == tmp.profit.min()].original_title

925    K-19: The Widowmaker
Name: original_title, dtype: object

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [30]:
answers['19'] = '2015'

data.groupby(['release_year']).revenue.sum().sort_values(ascending=False)

release_year
2015    25449202382
2014    23405862953
2013    23213799791
2012    23079001687
2011    22676791872
2010    21071204961
2009    20261791024
2008    18252781990
2007    18162406801
2004    15663430720
2005    15309425558
2006    14775042320
2003    14346123312
2002    14136361487
2001    13017764865
2000    10664099805
Name: revenue, dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [55]:
answers['20'] = '2014'

data[data.production_companies.str.contains("Warner Bros")].groupby(
    ["release_year"]
).profit.sum().sort_values(ascending=False)

release_year
2014    2295464519
2007    2201675217
2008    2134595031
2010    1974712985
2011    1871393682
2003    1855493377
2009    1822454136
2013    1636453400
2004    1631933725
2005    1551980298
2001    1343545668
2012    1258020056
2002    1022709901
2015     870368348
2006     620170743
2000     452631386
Name: profit, dtype: int64

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [32]:
answers['21'] = 'Сентябрь'

#месяцы представлены номерами(9- сентябрь)
data.groupby(['release_month']).release_month.count().sort_values(ascending=False)

release_month
9     227
12    190
10    186
8     161
3     156
4     149
6     147
11    146
7     142
5     140
2     135
1     110
Name: release_month, dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [33]:
answers['22'] = '450'

data[(data.release_month >= 6) & (data.release_month <= 8)].imdb_id.count()

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [34]:
answers['23'] = 'Peter Jackson'

data[
    (data.release_month == 1) | (data.release_month == 2) | (data.release_month == 12)
].groupby(["director"]).original_title.count().sort_values(ascending=False)

director
Peter Jackson                          7
Steven Soderbergh                      6
Clint Eastwood                         6
Nancy Meyers                           4
Adam Shankman                          4
                                      ..
Matt Bettinelli-Olpin|Tyler Gillett    1
Matt Reeves                            1
Matthew O'Callaghan                    1
Matthew Vaughn                         1
Aaron Seltzer|Jason Friedberg          1
Name: original_title, Length: 332, dtype: int64

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [35]:
answers['24'] = 'Four By Two Productions'

tmp = data[data.title_len == data.title_len.max()].production_companies.str.split("|")
list(tmp)

[['Twentieth Century Fox Film Corporation', 'Four By Two Productions']]

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [56]:
answers['25'] = 'Midnight Picture Show'

data_exploded_production.groupby(
    ["exploded_production"]
).overview_words.mean().sort_values(ascending=False)

exploded_production
Midnight Picture Show                    175.0
Room 9 Entertainment                     161.0
Heineken Branded Entertainment           161.0
98 MPH Productions                       159.0
Brookwell-McNamara Entertainment         156.0
                                         ...
London Boulevard                          13.0
Phantom Four                              13.0
Henceforth                                13.0
Empire Pictures                           11.0
Motion Picture Corporation of America     11.0
Name: overview_words, Length: 1771, dtype: float64

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [57]:
answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave'

data.sort_values(["vote_average"], ascending=False).head(
    int(data.vote_average.count() * 0.01)
)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,release_month,title_len,overview_words,exploded_cast
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008,816921825,7,15,67,"[Christian Bale, Michael Caine, Heath Ledger, ..."
118,tt0816692,165000000,621752480,Interstellar,Matthew McConaughey|Jessica Chastain|Anne Hath...,Christopher Nolan,Mankind was born on Earth. It was never meant ...,Interstellar chronicles the adventures of a gr...,169,Adventure|Drama|Science Fiction,Paramount Pictures|Legendary Pictures|Warner B...,11/5/2014,8.0,2014,456752480,11,12,35,"[Matthew McConaughey, Jessica Chastain, Anne H..."
125,tt2084970,14000000,233555708,The Imitation Game,Benedict Cumberbatch|Keira Knightley|Matthew G...,Morten Tyldum,The true enigma was the man who cracked the code.,Based on the real life story of legendary cryp...,113,History|Drama|Thriller|War,Black Bear Pictures|Bristol Automotive,11/14/2014,8.0,2014,219555708,11,18,46,"[Benedict Cumberbatch, Keira Knightley, Matthe..."
9,tt2096673,175000000,853708609,Inside Out,Amy Poehler|Phyllis Smith|Richard Kind|Bill Ha...,Pete Docter,Meet the little voices inside your head.,"Growing up can be a bumpy road, and it's no ex...",94,Comedy|Animation|Family,Walt Disney Pictures|Pixar Animation Studios|W...,6/9/2015,8.0,2015,678708609,6,10,112,"[Amy Poehler, Phyllis Smith, Richard Kind, Bil..."
34,tt3170832,6000000,35401758,Room,Brie Larson|Jacob Tremblay|Joan Allen|Sean Bri...,Lenny Abrahamson,Love knows no boundaries,Jack is a young boy of 5 years old who has liv...,117,Drama|Thriller,Element Pictures|No Trace Camping|A24|Duperele...,10/16/2015,8.0,2015,29401758,10,4,49,"[Brie Larson, Jacob Tremblay, Joan Allen, Sean..."
1183,tt0993846,100000000,392000694,The Wolf of Wall Street,Leonardo DiCaprio|Jonah Hill|Margot Robbie|Kyl...,Martin Scorsese,EARN. SPEND. PARTY.,A New York stockbroker refuses to cooperate in...,180,Crime|Drama|Comedy,Paramount Pictures|Appian Way|EMJAG Production...,12/25/2013,7.9,2013,292000694,12,23,29,"[Leonardo DiCaprio, Jonah Hill, Margot Robbie,..."
128,tt2267998,61000000,369330363,Gone Girl,Ben Affleck|Rosamund Pike|Carrie Coon|Neil Pat...,David Fincher,You don't know what you've got 'til it's...,With his wife's disappearance having become th...,145,Mystery|Thriller|Drama,Twentieth Century Fox Film Corporation|Regency...,10/1/2014,7.9,2014,308330363,10,9,30,"[Ben Affleck, Rosamund Pike, Carrie Coon, Neil..."
1191,tt2024544,20000000,187000000,12 Years a Slave,Chiwetel Ejiofor|Michael Fassbender|Lupita Nyo...,Steve McQueen,The extraordinary true story of Solomon Northup,"In the pre-Civil War United States, Solomon No...",134,Drama|History,Plan B Entertainment|Regency Enterprises|River...,10/18/2013,7.9,2013,167000000,10,16,61,"[Chiwetel Ejiofor, Michael Fassbender, Lupita ..."
119,tt2015381,170000000,773312399,Guardians of the Galaxy,Chris Pratt|Zoe Saldana|Dave Bautista|Vin Dies...,James Gunn,All heroes start somewhere.,"Light years from Earth, 26 years after being a...",121,Action|Science Fiction|Adventure,Marvel Studios|Moving Picture Company (MPC)|Bu...,7/30/2014,7.9,2014,603312399,7,23,28,"[Chris Pratt, Zoe Saldana, Dave Bautista, Vin ..."
1081,tt0167260,94000000,1118888979,The Lord of the Rings: The Return of the King,Elijah Wood|Ian McKellen|Viggo Mortensen|Liv T...,Peter Jackson,The eye of the enemy is moving.,Aragorn is revealed as the heir to the ancient...,201,Adventure|Fantasy|Action,WingNut Films|New Line Cinema,12/1/2003,7.9,2003,1024888979,12,45,45,"[Elijah Wood, Ian McKellen, Viggo Mortensen, L..."
1800,tt0209144,9000000,39723096,Memento,Guy Pearce|Carrie-Anne Moss|Joe Pantoliano|Mar...,Christopher Nolan,Some memories are best forgotten.,Suffering short-term memory loss after a head ...,113,Mystery|Thriller,Summit Entertainment|Newmarket Capital Group|T...,10/11/2000,7.9,2000,30723096,10,7,78,"[Guy Pearce, Carrie-Anne Moss, Joe Pantoliano,..."
370,tt1375666,160000000,825500000,Inception,Leonardo DiCaprio|Joseph Gordon-Levitt|Ellen P...,Christopher Nolan,Your mind is the scene of the crime.,"Cobb, a skilled thief who commits corporate es...",148,Action|Thriller|Science Fiction|Mystery|Adventure,Legendary Pictures|Warner Bros.|Syncopy,7/14/2010,7.9,2010,665500000,7,9,44,"[Leonardo DiCaprio, Joseph Gordon-Levitt, Elle..."
872,tt0253474,35000000,120072577,The Pianist,Adrien Brody|Thomas Kretschmann|Frank Finlay|M...,Roman Polanski,Music was his passion. Survival was his master...,The Pianist is a film adapted from the biograp...,150,Drama|War,Bac Films|Canal+Polska|Heritage Films|Studio B...,9/24/2002,7.9,2002,85072577,9,11,39,"[Adrien Brody, Thomas Kretschmann, Frank Finla..."
138,tt2278388,30000000,174600318,The Grand Budapest Hotel,Ralph Fiennes|Tony Revolori|F. Murray Abraham|...,Wes Anderson,A perfect holiday without leaving home.,The Grand Budapest Hotel tells of a legendary ...,99,Comedy|Drama,Fox Searchlight Pictures|Scott Rudin Productio...,2/26/2014,7.9,2014,144600318,2,24,66,"[Ralph Fiennes, Tony Revolori, F. Murray Abrah..."
1188,tt1798709,23000000,47351251,Her,Joaquin Phoenix|Scarlett Johansson|Rooney Mara...,Spike Jonze,A Spike Jonze Love Story,"In the not so distant future, Theodore, a lone...",126,Romance|Science Fiction|Drama,Annapurna Pictures,12/18/2013,7.8,2013,24351251,12,3,65,"[Joaquin Phoenix, Scarlett Johansson, Rooney M..."
28,tt1895587,20000000,88346473,Spotlight,Mark Ruffalo|Michael Keaton|Rachel McAdams|Lie...,Tom McCarthy,Break the story. Break the silence.,The true story of how The Boston Globe uncover...,128,Drama|Thriller|History,Participant Media|Open Road Films|Anonymous Co...,11/6/2015,7.8,2015,68346473,11,9,30,"[Mark Ruffalo, Michael Keaton, Rachel McAdams,..."
124,tt2245084,165000000,652105443,Big Hero 6,Scott Adsit|Ryan Potter|Daniel Henney|T.J. Mil...,Don Hall|Chris Williams,From the creators of Wreck-it Ralph and Frozen,The special bond that develops between plus-si...,102,Adventure|Family|Animation|Action|Comedy,Walt Disney Pictures|Walt Disney Animation Stu...,10/24/2014,7.8,2014,487105443,10,10,29,"[Scott Adsit, Ryan Potter, Daniel Henney, T.J...."
177,tt2582846,12000000,305151265,The Fault in Our Stars,Shailene Woodley|Ansel Elgort|Nat Wolff|Laura ...,Josh Boone,One Sick Love Story,Despite the tumor-shrinking medical miracle th...,125,Romance|Drama,Fox 2000 Pictures|Temple Hill Entertainment|TS...,5/16/2014,7.8,2014,293151265,5,22,47,"[Shailene Woodley, Ansel Elgort, Nat Wolff, La..."

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [58]:
answers['27'] = 'Daniel Radcliffe & Rupert Grint'

#группируем актеров по 2 в по фильмамв которых уже снимались
exploded_cast = data.exploded_cast
total_list = []
for actors_per_movie in exploded_cast:
    combinations = it.combinations(actors_per_movie, 2)
    for c in combinations:
        if c not in total_list:
            total_list.append(c)

#Считаем количество фильмов где есть каждая пара актеров
max_movie_for_pair = 0
best_actors_friends = ''
for actor_pair in total_list:
    movies_count = data[
        data.cast.str.contains(actor_pair[0]) & data.cast.str.contains(actor_pair[1])
    ].imdb_id.count()
    if movies_count > max_movie_for_pair:
        max_movie_for_pair = movies_count
        best_actors_friends = actor_pair[0] + " & " + actor_pair[1]

best_actors_friends

'Daniel Radcliffe & Rupert Grint'

# Submission

In [39]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides',
 '2': 'Gods and Generals',
 '3': 'Winnie the Pooh',
 '4': '109.6585494970884',
 '5': '107.0',
 '6': 'Avatar',
 '7': 'The Lone Ranger',
 '8': '1478',
 '9': 'The Dark Knight',
 '10': 'The Lone Ranger',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker',
 '19': '2015',
 '20': '2014',
 '21': 'Сентябрь',
 '22': '450',
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave',
 '27': 'Daniel Radcliffe & Rupert Grint'}

In [40]:
# и убедиться что ни чего не пропустил)
len(answers)

27