In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import itertools as it
import matplotlib.pyplot as plt
from collections import Counter

In [2]:
data = pd.read_csv('movie_bd_v5.csv')

In [3]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [4]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...
def get_month(date):
    date = date.split("/")
    return int(date[0])


def get_str_len(title):
    return len(title)


def get_word_count(title):
    return len(title.split(" "))


# датасет с разбитыми актерами
data_exploded_per_cast = data.copy()
data_exploded_per_cast["exploded_cast"] = data_exploded_per_cast.cast.str.split("|")
data_exploded_per_cast = data_exploded_per_cast.explode("exploded_cast")

# датасет с разбитыми жанрами
data_exploded_per_genre = data.copy()
data_exploded_per_genre["exploded_genre"] = data_exploded_per_genre.genres.str.split(
    "|"
)
data_exploded_per_genre = data_exploded_per_genre.explode("exploded_genre")
data_exploded_per_genre["profit"] = (
    data_exploded_per_genre["revenue"] - data_exploded_per_genre["budget"]
)

# датасет с разбитыми кинокомпаниями
data_exploded_production = data.copy()
data_exploded_production[
    "exploded_production"
] = data_exploded_production.production_companies.str.split("|")
data_exploded_production = data_exploded_production.explode("exploded_production")
data_exploded_production["overview_words"] = data_exploded_production.overview.apply(
    get_word_count
)

# датасет базовый с подготовленными данными
data["profit"] = data["revenue"] - data["budget"]
data["release_month"] = data.release_date.apply(get_month)
data["title_len"] = data.original_title.apply(get_str_len)
data["overview_words"] = data.overview.apply(get_word_count)
data["exploded_cast"] = data.cast.str.split("|")

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [5]:
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides'

data[data.budget == data.budget.max()].original_title

723    Pirates of the Caribbean: On Stranger Tides
Name: original_title, dtype: object

# 2. Какой из фильмов самый длительный (в минутах)?

In [6]:
answers['2'] = 'Gods and Generals'

data[data.runtime == data.runtime.max()].original_title

1157    Gods and Generals
Name: original_title, dtype: object

# 3. Какой из фильмов самый короткий (в минутах)?

In [7]:
answers['3'] = 'Winnie the Pooh'

data[data.runtime == data.runtime.min()].original_title

768    Winnie the Pooh
Name: original_title, dtype: object

# 4. Какова средняя длительность фильмов?

In [8]:
answers['4'] = '110'

round(data.runtime.mean())

110

# 5. Каково медианное значение длительности фильмов?

In [9]:
answers['5'] = '107.0'

data.runtime.median()

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [10]:
answers['6'] = 'Avatar'

data[data.profit == data.profit.max()].original_title

239    Avatar
Name: original_title, dtype: object

# 7. Какой фильм самый убыточный?

In [11]:
answers['7'] = 'The Lone Ranger'

data[data.profit == data.profit.min()].original_title

1245    The Lone Ranger
Name: original_title, dtype: object

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [12]:
answers['8'] = '1478'

data[data.revenue > data.budget].imdb_id.count()

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [13]:
answers['9'] = 'The Dark Knight'

data_2008 = data[data.release_year == 2008]
data_2008[data_2008.revenue == data_2008.revenue.max()].original_title

599    The Dark Knight
Name: original_title, dtype: object

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [14]:
answers['10'] = 'The Lone Ranger'

tmp = data[(data.release_year >= 2012) & (data.release_year <= 2014)]
tmp[tmp.profit == tmp.profit.min()].original_title

1245    The Lone Ranger
Name: original_title, dtype: object

# 11. Какого жанра фильмов больше всего?

In [15]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
answers['11'] = 'Drama'

genres_count = dict()

for genres in data.genres:
    genres_list = genres.split('|')
    for genre in genres_list:
        if genre not in genres_count:
            genres_count[genre] = 1
        else:
            genres_count[genre] += 1

sorted_values = sorted(genres_count.values(), reverse=True)
for genre, count in genres_count.items():
    if count == sorted_values[0]:
        print(genre)
        break

Drama

ВАРИАНТ 2

In [16]:
data_exploded_per_genre.groupby(["exploded_genre"]).imdb_id.count().sort_values(
    ascending=False
)

exploded_genre
Drama              782
Comedy             683
Thriller           596
Action             582
Adventure          415
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            222
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             19
Documentary          8
Foreign              2
Name: imdb_id, dtype: int64

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [17]:
answers['12'] = 'Drama'

#Вариант 1 - разбивка средствами Python
genres_with_profit = data[data.profit > 0].genres
genres_count = dict()

for genres in genres_with_profit:
    genres_list = genres.split('|')
    for genre in genres_list:
        if genre not in genres_count:
            genres_count[genre] = 1
        else:
            genres_count[genre] += 1
            
sorted_values = sorted(genres_count.values(), reverse=True)
for genre, count in genres_count.items():
    if count == sorted_values[0]:
        print(genre)
        break

Drama

In [18]:
# Вариант 2 - разбивка средствами Pandas
data_exploded_per_genre[data_exploded_per_genre.profit > 0].groupby(
    ["exploded_genre"]
).imdb_id.count().sort_values(ascending=False)

exploded_genre
Drama              560
Comedy             551
Thriller           446
Action             444
Adventure          337
Romance            242
Crime              231
Family             226
Science Fiction    195
Fantasy            188
Horror             150
Animation          120
Mystery            119
Music               47
History             46
War                 41
Western             12
Documentary          7
Name: imdb_id, dtype: int64

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [19]:
answers['13'] = 'Peter Jackson'

data.groupby(["director"]).revenue.sum().sort_values(ascending=False).head(5)

director
Peter Jackson        6490593685
Christopher Nolan    4167548502
David Yates          4154295625
Michael Bay          3886938960
J.J. Abrams          3579169916
Name: revenue, dtype: int64

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [20]:
answers['14'] = 'Robert Rodriguez'

data[data.genres.str.contains("Action")].groupby(
    ["director"]
).director.count().sort_values(ascending=False).head(5)

director
Michael Bay           7
Paul W.S. Anderson    7
Robert Rodriguez      6
Ridley Scott          6
Antoine Fuqua         6
Name: director, dtype: int64

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [21]:
answers['15'] = 'Chris Hemsworth'

data_2012 = data[data.release_year == 2012]
a = data_2012[data_2012.revenue == data_2012.revenue.max()].cast.str.split("|")
list(a)

[['Robert Downey Jr.',
  'Chris Evans',
  'Mark Ruffalo',
  'Chris Hemsworth',
  'Scarlett Johansson']]

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [22]:
answers['16'] = 'Matt Damon'

#Вариант 1 - разбивка средствами Python
tmp = data[data.budget > data.budget.mean()]

actors_all = []
for i in tmp.cast:
    actors_list = i.split('|')
    for actor in actors_list:
        if actor not in actors_all:
            actors_all.append(actor)
            
films_per_actor = dict()

max_movie_count = 0
actor_name = ''
for actor in actors_all:
    movies_count = tmp[tmp.cast.str.contains(actor)].imdb_id.count()
    films_per_actor[actor] = movies_count
    if movies_count > max_movie_count:
        max_movie_count = movies_count
        actor_name = actor

actor_name

'Matt Damon'

In [23]:
# Вариант 2 - разбивка средствами Pandas
data_exploded_per_cast[
    data_exploded_per_cast.budget > data_exploded_per_cast.budget.mean()
].groupby(["exploded_cast"]).exploded_cast.count().sort_values(ascending=False)

exploded_cast
Matt Damon           18
Adam Sandler         17
Angelina Jolie       16
Eddie Murphy         15
Samuel L. Jackson    15
                     ..
Leslie Bibb           1
Leonard Nimoy         1
Lennie James          1
Lena Olin             1
50 Cent               1
Name: exploded_cast, Length: 1505, dtype: int64

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [24]:
answers['17'] = 'Action'

#Вариант 1 - разбивка средствами Python
genres = data[data.cast.str.contains('Nicolas Cage')].genres
genres_count = dict()
for genre in genres:
    genres_list = genre.split('|')
    for genre_unit in genres_list:
        if genre_unit not in genres_count:
            genres_count[genre_unit] = 1
        else:
            genres_count[genre_unit] += 1
            
genres_count

{'Thriller': 15,
 'Action': 17,
 'Science Fiction': 4,
 'Adventure': 7,
 'Drama': 12,
 'Mystery': 3,
 'Crime': 10,
 'Animation': 3,
 'Family': 3,
 'Fantasy': 8,
 'Comedy': 6,
 'History': 2,
 'War': 1,
 'Horror': 1,
 'Romance': 1}

In [25]:
# Вариант 2 - разбивка средствами Pandas
data_exploded_per_genre[
    data_exploded_per_genre.cast.str.contains("Nicolas Cage")
].groupby(["exploded_genre"]).exploded_genre.count().sort_values(ascending=False)

exploded_genre
Action             17
Thriller           15
Drama              12
Crime              10
Fantasy             8
Adventure           7
Comedy              6
Science Fiction     4
Mystery             3
Family              3
Animation           3
History             2
War                 1
Romance             1
Horror              1
Name: exploded_genre, dtype: int64

# 18. Самый убыточный фильм от Paramount Pictures

In [26]:
answers['18'] = 'K-19: The Widowmaker'

tmp = data[data.production_companies.str.contains("Paramount Pictures")]
tmp[tmp.profit == tmp.profit.min()].original_title

925    K-19: The Widowmaker
Name: original_title, dtype: object

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [27]:
answers['19'] = '2015'

data.groupby(['release_year']).revenue.sum().sort_values(ascending=False)

release_year
2015    25449202382
2014    23405862953
2013    23213799791
2012    23079001687
2011    22676791872
2010    21071204961
2009    20261791024
2008    18252781990
2007    18162406801
2004    15663430720
2005    15309425558
2006    14775042320
2003    14346123312
2002    14136361487
2001    13017764865
2000    10664099805
Name: revenue, dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [28]:
answers['20'] = '2014'

data[data.production_companies.str.contains("Warner Bros")].groupby(
    ["release_year"]
).profit.sum().sort_values(ascending=False)

release_year
2014    2295464519
2007    2201675217
2008    2134595031
2010    1974712985
2011    1871393682
2003    1855493377
2009    1822454136
2013    1636453400
2004    1631933725
2005    1551980298
2001    1343545668
2012    1258020056
2002    1022709901
2015     870368348
2006     620170743
2000     452631386
Name: profit, dtype: int64

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [29]:
answers['21'] = 'Сентябрь'

#месяцы представлены номерами(9- сентябрь)
data.groupby(['release_month']).release_month.count().sort_values(ascending=False)

release_month
9     227
12    190
10    186
8     161
3     156
4     149
6     147
11    146
7     142
5     140
2     135
1     110
Name: release_month, dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [30]:
answers['22'] = '450'

data[data.release_month.isin([6, 7, 8])].imdb_id.count()

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [31]:
answers['23'] = 'Peter Jackson'

data[data.release_month.isin([1, 2, 12])].groupby(
    ["director"]
).original_title.count().sort_values(ascending=False).head(5)

director
Peter Jackson        7
Steven Soderbergh    6
Clint Eastwood       6
Nancy Meyers         4
Adam Shankman        4
Name: original_title, dtype: int64

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [32]:
answers['24'] = 'Four By Two Productions'

tmp = data[data.title_len == data.title_len.max()].production_companies.str.split("|")
list(tmp)

[['Twentieth Century Fox Film Corporation', 'Four By Two Productions']]

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [33]:
answers['25'] = 'Midnight Picture Show'

data_exploded_production.groupby(
    ["exploded_production"]
).overview_words.mean().sort_values(ascending=False).head(5)

exploded_production
Midnight Picture Show               175.0
Room 9 Entertainment                161.0
Heineken Branded Entertainment      161.0
98 MPH Productions                  159.0
Brookwell-McNamara Entertainment    156.0
Name: overview_words, dtype: float64

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [34]:
answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave'

tmp = data.sort_values(["vote_average"], ascending=False).head(
    int(data.vote_average.count() * 0.01)
)
tmp[['original_title', 'vote_average']]

                                     original_title  vote_average
599                                 The Dark Knight           8.1
118                                    Interstellar           8.0
125                              The Imitation Game           8.0
9                                        Inside Out           8.0
34                                             Room           8.0
1183                        The Wolf of Wall Street           7.9
128                                       Gone Girl           7.9
1191                               12 Years a Slave           7.9
119                         Guardians of the Galaxy           7.9
1081  The Lord of the Rings: The Return of the King           7.9
1800                                        Memento           7.9
370                                       Inception           7.9
872                                     The Pianist           7.9
138                        The Grand Budapest Hotel           7.9
1188                                            Her           7.8
28                                        Spotlight           7.8
124                                      Big Hero 6           7.8
177                          The Fault in Our Stars           7.8

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [35]:
answers['27'] = 'Daniel Radcliffe & Rupert Grint'

#группируем актеров по 2 в по фильмам в которых уже снимались
exploded_cast = data.exploded_cast
total_list = []
for actors_per_movie in exploded_cast:
    combinations = it.combinations(actors_per_movie, 2)
    for c in combinations:
        if c not in total_list:
            total_list.append(c)

#Считаем количество фильмов где есть каждая пара актеров
max_movie_for_pair = 0
best_actors_friends = ''
for actor_pair in total_list:
    movies_count = data[
        data.cast.str.contains(actor_pair[0]) 
        & data.cast.str.contains(actor_pair[1])
    ].imdb_id.count()
    if movies_count > max_movie_for_pair:
        max_movie_for_pair = movies_count
        best_actors_friends = actor_pair[0] + " & " + actor_pair[1]

best_actors_friends

'Daniel Radcliffe & Rupert Grint'

# Submission

In [36]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides',
 '2': 'Gods and Generals',
 '3': 'Winnie the Pooh',
 '4': '110',
 '5': '107.0',
 '6': 'Avatar',
 '7': 'The Lone Ranger',
 '8': '1478',
 '9': 'The Dark Knight',
 '10': 'The Lone Ranger',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker',
 '19': '2015',
 '20': '2014',
 '21': 'Сентябрь',
 '22': '450',
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave',
 '27': 'Daniel Radcliffe & Rupert Grint'}

In [37]:
# и убедиться что ни чего не пропустил)
len(answers)

27